In [1]:
import pandas as pd
data = pd.read_csv(r"D:\Malathi\ML\Datasets and Python codes-20221223\mul_reg.csv")
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [2]:
state = pd.get_dummies(data['State'])
data = data.join(state)
data = data.drop(['State'], axis=1)
data.head()

,R&D Spend,Administration,Marketing Spend,Profit,California,Florida,New York
0,165349.20,136897.80,471784.10,192261.83,0,0,1
1,162597.70,151377.59,443898.53,191792.06,1,0,0
2,153441.51,101145.55,407934.54,191050.39,0,1,0
3,144372.41,118671.85,383199.62,182901.99,0,0,1
4,142107.34,91391.77,366168.42,166187.94,0,1,0

In [3]:
data.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'Profit',
       'California', 'Florida', 'New York'],
      dtype='object')

In [4]:
#reshuffling columns
columns = ['R&D Spend', 'Administration', 'Marketing Spend',
       'California', 'Florida', 'New York','Profit']
data = data[columns]
data.head()

,R&D Spend,Administration,Marketing Spend,California,Florida,New York,Profit
0,165349.20,136897.80,471784.10,0,0,1,192261.83
1,162597.70,151377.59,443898.53,1,0,0,191792.06
2,153441.51,101145.55,407934.54,0,1,0,191050.39
3,144372.41,118671.85,383199.62,0,0,1,182901.99
4,142107.34,91391.77,366168.42,0,1,0,166187.94

In [5]:
x = data.iloc[:,:-1] #take all columns except last
y = data.iloc[:,-1] #take only last column

In [6]:
x = pd.DataFrame(x)
x.columns = ['R&D Spend', 'Administration', 'Marketing Spend','California', 'Florida', 'New York']
x['intercept'] = 1 
x.head()
# just to calculate VIF (not reqiured for other models)
# x shud always be a 2D array
# y shud always be a 1D array

,R&D Spend,Administration,Marketing Spend,California,Florida,New York,intercept
0,165349.20,136897.80,471784.10,0,0,1,1
1,162597.70,151377.59,443898.53,1,0,0,1
2,153441.51,101145.55,407934.54,0,1,0,1
3,144372.41,118671.85,383199.62,0,0,1,1
4,142107.34,91391.77,366168.42,0,1,0,1

In [7]:
vif = pd.DataFrame()
vif['variable'] = x.columns
vif

          variable
0        R&D Spend
1   Administration
2  Marketing Spend
3       California
4          Florida
5         New York
6        intercept

In [8]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif['values'] = [variance_inflation_factor(x.values, i) for i in range(x.shape[1])]

C:\Users\vinod\miniconda3\envs\mini\lib\site-packages\statsmodels\stats\outliers_influence.py:195: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)
C:\Users\vinod\miniconda3\envs\mini\lib\site-packages\statsmodels\regression\linear_model.py:1736: RuntimeWarning: divide by zero encountered in double_scalars
  return 1 - self.ssr/self.centered_tss

In [9]:
vif

          variable    values
0        R&D Spend  2.495511
1   Administration  1.177766
2  Marketing Spend  2.416797
3       California       inf
4          Florida       inf
5         New York       inf
6        intercept  0.000000

In [10]:
x = x.drop(['California'], axis=1)

In [11]:
x = x.values
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)

In [12]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(x_train, y_train)

LinearRegression()

In [13]:
print(reg.intercept_)
print(reg.coef_)

41049.2380943647
[ 7.80990589e-01  4.57976214e-02  3.35420038e-02 -5.21787358e+02
  1.11511973e+01  0.00000000e+00]

In [14]:
y_pred = reg.predict(x_test)

In [15]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
r2_score(y_test,y_pred)

0.931581519915206