In [6]:
import warnings
warnings.filterwarnings("ignore")

In [7]:
from sklearn.datasets import load_boston
import numpy as np
import pandas as pd

In [8]:
df = load_boston()

In [11]:
dataset = pd.DataFrame(df['data'])
dataset.columns = df['feature_names']

In [13]:
dataset['PRICE'] = df['target']

In [14]:
dataset.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [18]:
x = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1].values

In [19]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
lin = LinearRegression()

In [20]:
res = cross_val_score(lin,x,y,scoring='neg_mean_squared_error', cv=5)

mse = np.mean(res)
print(mse)

-37.13180746769922

In [25]:
from sklearn.linear_model import Ridge, Lasso
ridge = Ridge()
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
parameter = {'alpha':[0,1e-10,1e-15,1,2,5,10,100,120,150,200,500,1000]}

In [26]:
ridge_grid = GridSearchCV(ridge, param_grid= parameter,
                         scoring='neg_mean_squared_error',
                         cv=5)

ridge_grid.fit(x,y)

GridSearchCV(cv=5, estimator=Ridge(),
             param_grid={'alpha': [0, 1e-10, 1e-15, 1, 2, 5, 10, 100, 120, 150,
                                   200, 500, 1000]},
             scoring='neg_mean_squared_error')

In [27]:
print(ridge_grid.best_params_)
print(ridge_grid.best_score_)

{'alpha': 150}
-29.753617234142734